
@{
    ViewBag.Title = "Menu Style";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" ng-app="FoodTruck_Module" ng-controller="MenuController" style="width:100%">
    <div class="row custom-row">
        <div class="col-md-1">
            <label>
                Filter :
            </label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="MENU_NAME" ng-model="FILTER.MENU_NAME" placeholder="Menu Name">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="STYLE_NAME" ng-model="FILTER.STYLE_NAME" placeholder="Style">
        </div>
        <div class="col-md-7" style="text-align:right">
            <button type="button" class="btn btn-success" ng-click="ShowItem_Click(0)">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </div>
    <div id="ResultSection" class="row custom-row">
        <div id="detail" class="sm-table-container">
            <table class="AutoTable" id="tblTrans" cellpadding="2" cellspacing="2">
                <thead>
                    <tr class="sm-table-header">
                        <th class="tblHeader"
                            ng-repeat="Field in ListHeader"
                            ng-show="Field.VISIBILITY==1"
                            valign="top" width="{{Field.WIDTH}}" align="center">
                            <a href="javscript:void(0);"
                               ng-click="OrderColumn(Field.FIELD_NAME)">
                                {{Field.TITLE}}
                                <span ng-show="sortType == Field.FIELD_NAME && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == Field.FIELD_NAME && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="sm-table-row"
                        ng-repeat="row in ListDetail | orderBy:sortType:sortReverse
                            | filter:{NAME : FILTER.MENU_NAME}
                            | filter:{ITEM_STYLE_NAME : FILTER.STYLE_NAME}">
                        <td class="tblDetail"
                            ng-repeat="Field in ListHeader"
                            ng-show="Field.VISIBILITY==1"
                            width="{{Field.WIDTH}}" align="{{Field.ALIGN}}">
                            <div ng-if="Field.FIELD_NAME == 'EDIT'">
                                <a class="sm-btn-view glyphicon glyphicon-pencil" href="#" ng-click="ShowItem_Click(row.ITEM_MENU_ID)">
                                </a>
                            </div>
                            <div ng-if="Field.FIELD_NAME != 'EDIT'">
                                {{ row[Field.FIELD_NAME] }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="DetailModal" class="w3-modal w3-display-topmiddle" style="width:100%;">
        <header class="w3-container" style="background-color:#16B343">
            <span onclick="document.getElementById('DetailModal').style.display = 'none'"
                  class="w3-closebtn">&times;</span>
            <h2 class="w3-text-shadow ievoFont"></h2>
        </header>
        <div id="EditMaster" class="col-sm-12 w3-white  w3-border w3-round w3-border-grey " style="height: 400px; font-size: 10pt">
            <div class="col-sm-12 hdBar">
                <h4>Edit Menu</h4>
            </div>
            <div id="EditItem" class="row">
                <form name="dealerConf">

                    <div class="row custom-row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            Menu code:
                        </div>
                        <div class="col-md-3">
                            {{formData.Menu.ITEM_MENU_ID}}
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            Menu name:
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="menutypename" ng-model="formData.Menu.NAME">
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            Menu Style :
                        </div>
                        <div class="col-md-3">
                            <select ng-model="formData.Menu.ITEM_STYLE_ID" class="form-control" convert-to-number>
                                <option ng-repeat="type in MenuStyle" value="{{type.ITEM_STYLE_ID}}">{{type.NAME}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row custom-row">
                        <div class="col-md-3"></div>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-primary" ng-click="Edit_Submit()">
                                <span class="glyphicon glyphicon-floppy-save"></span> บันทึก
                            </button>

                            <a class="btn btn-default" ng-click="CloseItem_Click()">
                                <div>
                                    <span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
                                </div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="height:20px"></div>
</div>

