
@{
    ViewBag.Title = "Customer information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="main" class="container" ng-app="FoodTruck_Module" ng-controller="FloorPlanController" style="width:100%">
    <div class="row custom-row" style="font-size:10pt;border-bottom:solid;border-width:thin;border-color:#F0F0F0;">
        <div class="col-md-6">
            <label class="btn btn-success btn-file">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                Browse<input type="file"
                             ngf-select=""
                             ngf-pattern="'.png,jpg,jpeg'"
                             accept=".png,jpg,jpeg"
                             ng-model="fileUpload" />
            </label>
            Plan File : {{fileUpload.name}}
        </div>
        <div class="col-md-4">
            <label class="btn btn-success btn-file" ng-click="uploadPlanImage()">
                <span class="glyphicon glyphicon-upload"></span>&nbsp;
                Upload
            </label>
        </div>
    </div>
    <div class="row custom-row" style="font-size:10pt">
        <div class="col-sm-2" style="margin-left:10px;">
            <div class="row">
                <button type="button" ng-click="setObjectType(0)" style="width:100%;"
                        ng-class="{'btn btn-primary active': ObjectType == 0, 'btn btn-primary': ObjectType != 0 }">
                    <span class="fa fa-truck"></span> Add Food Truck
                </button>
            </div>
            <div class="row">
                <button type="button" style="background-color:crimson;border-color:crimson;width:100%;"
                        ng-class="{'btn btn-primary active': ObjectType == 1, 'btn btn-primary': ObjectType != 1 }"
                        ng-click="setObjectType(1)">
                    Add Stage
                </button>
            </div>
            <div class="row">
                <button type="button" style="background-color:chocolate;border-color:chocolate;width:100%;"
                        ng-class="{'btn btn-primary active': ObjectType == 2, 'btn btn-primary': ObjectType != 2 }"
                        ng-click="setObjectType(2)">
                    Add Wall
                </button>
            </div>
            <hr />
            <div class="row">
                <div class="btn-group" style="width:100%;">
                    <button type="button" style="width:30%;" ng-click="setDrawMode(0)"
                            ng-class="{'btn btn-primary active': drawMode == 0, 'btn btn-primary': drawMode != 0 }">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" style="width:30%;" ng-click="setDrawMode(1)"
                            ng-class="{'btn btn-primary active': drawMode == 1, 'btn btn-primary': drawMode != 1 }">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" style="width:30%;" ng-click="setDrawMode(2)"
                            ng-class="{'btn btn-primary active': drawMode == 2, 'btn btn-primary': drawMode != 2 }">
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
            </div>
            <div class="row" ng-show="drawMode == 1">
                <label style="width:30%">Width : </label>
                <input type="number" class="form-control" ng-model="ObjectWidth" style="width:30%" />
            </div>
            <div class="row" ng-show="drawMode == 1">
                <label style="width:30%">Depth : </label>
                <input type="number" class="form-control" ng-model="ObjectDepth" style="width:30%" />
            </div>
            <div class="row" ng-show="drawMode == 1">
                <label style="width:30%">mode : </label>
                <select class="form-control" ng-model="ObjectOrientation" convert-to-number ng-change="switchOrientation()"
                        style="width:55%">
                    <option value="1">
                        Vertical
                    </option>
                    <option value="0">
                        Horizontal
                    </option>
                </select>
            </div>
            <div class="row">
                <label class="btn btn-success btn-file" ng-click="planSubmit()">
                    <span class="glyphicon glyphicon-save-file"></span>&nbsp;
                    Save Plan
                </label>
            </div>
        </div>
        <div class="theme col-sm-10" style="margin-left:20px;border-left:solid;border-width:thin;border-color:#F0F0F0;">
            <img ng-src="{{formData.Event.PLAN_PATH}}" style="position: absolute;max-height:100%" />
            <table border="1" class="theme-table" style="position: relative;width:100%;height:100%;">
                <tbody>
                    <tr ng-repeat="n in [].constructor(48)  track by $index">
                        <td id="{{$parent.$index}},{{$index}}"
                            ng-repeat="nn in [].constructor(64)  track by $index" ng-click="selectPosition($parent.$index, $index)"
                            ng-class="{'0':'activeFoodTruck', 
                                        '-1':'inactive',
                                        '1':'activeStage',
                                        '2':'activeWall'}[CheckActivePosition($parent.$index,$index)]"
                            draggable droppable drop="handleDrop" 
                            ng-mouseover="mouseOverPosition($parent.$index,$index)"
                            ng-mouseleave="mouseLeavePosition($parent.$index,$index)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
