
@{
    ViewBag.Title = "Customer information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" ng-app="FoodTruck_Module" ng-controller="ManageEventController" style="width:100%">
    <div class="row custom-row" style="font-size:10pt">
        <div class="col-md-1">
            <label>
                Filter :
            </label>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" name="MENU_ID" ng-model="FILTER.EVENT_ID" placeholder="Code" ng-change="CheckPagination()">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="MENU_NAME" ng-model="FILTER.EVENT_NAME" placeholder="Name" ng-change="CheckPagination()">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="MENU_NAME" ng-model="FILTER.EVENT_PLACE" placeholder="Place" ng-change="CheckPagination()">
        </div>
        <div class="col-md-2" style="text-align:right">
            <button type="button" class="btn btn-success" ng-click="ShowItem_Click(0)">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </div>
    <div id="ResultSection" class="row custom-row">
        <div id="detail" class="sm-table-container">
            <table class="AutoTable" id="tblTrans" cellpadding="2" cellspacing="2">
                <thead>
                    <tr class="sm-table-header">
                        <th class="tblHeader"
                            ng-repeat="Field in ListHeader track by $index"
                            ng-show="Field.VISIBILITY==1"
                            valign="top" width="{{Field.WIDTH}}" align="center">
                            <a href="javscript:void(0);"
                               ng-click="OrderColumn(Field.FIELD_NAME)">
                                {{Field.TITLE}}
                                <span ng-show="sortType == Field.FIELD_NAME && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == Field.FIELD_NAME && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
               <tbody>
                    <tr class="sm-table-row"
                        ng-repeat="row in ListDetail
                                    | filter:{ID : FILTER.EVENT_ID}
                                    | filter:{NAME : FILTER.EVENT_NAME}
                                    | filter:{PLACE : FILTER.EVENT_PLACE}
                                    | paginationRecs:currentPage:recPerPage
                                    | orderBy:sortType:sortReverse
                                    track by $index">
                        <td class="tblDetail"
                            ng-repeat="Field in ListHeader track by $index"
                            ng-show="Field.VISIBILITY==1"
                            width="{{Field.WIDTH}}" align="{{Field.ALIGN}}">
                            <div ng-if="Field.FIELD_NAME == 'EDIT'">
                                <a class="sm-btn-view glyphicon glyphicon-pencil" href="/Event/CreateEvent/{{row['EVENT_ID']}}">
                                </a>
                            </div>
                            <div ng-if="Field.FIELD_NAME != 'EDIT'">
                                {{ row[Field.FIELD_NAME]}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <fieldset id="PaginationDiv">
            <div id="detail2" class="sm-table-container" pagination-table="ListDetail">
            </div>
        </fieldset>
        
    </div>

    <div style="height:20px"></div>
</div>
