
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" ng-app="JARJU_Module" ng-controller="CalendarController" style="width:100%">
    <h2 class="text-center">{{ calendarTitle }}</h2>
    <div class="row custom-row" style="font-size:10pt">
        <div class="col-md-4">
            <div class="btn-group">
                <button class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        decrement="calendarView"
                        ng-click="cellIsOpen = false">
                    Previous
                </button>
                <button class="btn btn-default"
                        mwl-date-modifier
                        date="viewDate"
                        set-to-today
                        ng-click="cellIsOpen = false">
                    Today
                </button>
                <button class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        increment="calendarView"
                        ng-click="cellIsOpen = false">
                    Next
                </button>
            </div>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false">Year</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false">Month</label>
            </div>
        </div>
        <div class="col-md-4" style="text-align:right;">
            <button class="btn btn-primary pull-right"
                    ng-click="addEvent()">
                Add event
            </button>
        </div>
    </div>
    <br>
    <mwl-calendar view="calendarView"
                  view-date="viewDate"
                  events="events"
                  view-title="calendarTitle"
                  custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}"
                  on-event-click="eventClicked(calendarEvent)"
                  on-timespan-click="timespanClicked(calendarDate, calendarCell)"
                  on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                  cell-is-open="true">
    </mwl-calendar>

    <script id="customMonthCell.html" type="text/ng-template">
        <div mwl-droppable
             ng-click="vm.calendarCtrl.dateClicked(day.date)"
             class="cal-month-day {{ day.cssClass }}"
             ng-class="{
             'cal-day-outmonth' : !day.inMonth,
             'cal-day-inmonth' : day.inMonth,
             'cal-day-weekend' : day.isWeekend,
             'cal-day-past' : day.isPast,
             'cal-day-today' : day.isToday,
             'cal-day-future' : day.isFuture,
             'cal-day-selected' : vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,'cal-day-open': dayIndex === vm.openDayIndex}">

            <div class="pull-left" style="width:50%">
                <small class="cal-events-num badge badge-important pull-left"
                       ng-show="day.BuffetBadgeTotal > 0 && (vm.calendarConfig.displayAllMonthEvents || day.inMonth)"
                       ng-bind="day.BuffetBadgeTotal">
                </small>

                <small class="cal-events-num badge badge-foodbox pull-left"
                       ng-show="day.FoodBoxBadgeTotal > 0 && (vm.calendarConfig.displayAllMonthEvents || day.inMonth)"
                       ng-bind="day.FoodBoxBadgeTotal">
                </small>

                <small class="cal-events-num badge badge-coffeebreak pull-left"
                       ng-show="day.CoffeeBreakBadgeTotal > 0 && (vm.calendarConfig.displayAllMonthEvents || day.inMonth)"
                       ng-bind="day.CoffeeBreakBadgeTotal">
                </small>

                <small class="cal-events-num badge badge-other pull-left4"
                       ng-show="day.OtherBadgeTotal > 0 && (vm.calendarConfig.displayAllMonthEvents || day.inMonth)"
                       ng-bind="day.OtherBadgeTotal">
                </small>
            </div>

          <span
            class="pull-right"
            data-cal-date
            ng-click="vm.calendarCtrl.dateClicked(day.date)"
            ng-bind="day.label">
          </span>

          <div class="cal-day-tick" ng-show="dayIndex === vm.openDayIndex && (vm.cellAutoOpenDisabled || vm.view[vm.openDayIndex].events.length > 0) && !vm.slideBoxDisabled">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <i class="fa fa-chevron-up"></i>
          </div>

          <div id="cal-week-box" ng-if="$first && rowHovered">
            <span ng-bind="vm.getWeekNumberLabel(day)"></span>
          </div>

        </div>
    </script>

    <div id="DetailModal" class="w3-modal w3-display-topmiddle" style="width:100%;overflow:hidden;z-index:100;">
        <header class="w3-container" style="background-color:#16B343">
            <span onclick="document.getElementById('DetailModal').style.display = 'none'"
                  class="w3-closebtn">&times;</span>
            <h2 class="w3-text-shadow ievoFont"></h2>
        </header>
        <div id="EditMaster" class="container col-sm-12 w3-white  w3-border w3-round w3-border-grey " style="font-size: 10pt;">
            <div class="row hdBar">
                <div class="col-sm-9"><h4>Add/Edit event</h4></div>
                <div class="col-sm-3" style="margin-top:6px;text-align:right;">
                    <button type="button" class="btn btn-primary" ng-click="Edit_Submit()">
                        <span class="glyphicon glyphicon-floppy-save"></span> Save
                    </button>
                </div>
            </div>
            <div class="col-sm-12" style="display:inline-block;">
                <div class="row custom-row">
                    <div class="col-md-2" style="text-align:left;">
                        Event date
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date custom-datebox" ng-click="openEventDate()">
                            <input datetimepicker-neutral-timezone type="text" class="form-control" ng-model="formData.EVENT_DATE"
                                   uib-datepicker-popup="{{format}}" is-open="popupEventDate.opened" datepicker-options="dateOptions">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        Event type
                    </div>
                    <div class="col-md-3">
                        <select ng-model="formData.EVENT_TYPE" class="form-control" convert-to-number>
                            <option value="0">Buffet</option>
                            <option value="1">Food box</option>
                            <option value="2">Coffee break</option>
                            <option value="3">Food stall</option>
                        </select>
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-2">
                        Customer name
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="customername" ng-model="formData.Customer.NAME">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        Customer Tel.
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="customername" ng-model="formData.Customer.TEL">
                    </div>
                </div>
                <div id="BuffetData" ng-show="formData.EVENT_TYPE==0">
                    <div class="row custom-row">
                        <div class="col-md-2">
                            Buffet Amount
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="foodmenuname" ng-model="formData.Customer.NAME" format-numeric>
                        </div>
                    </div>
                </div>
                <div class="row custom-row" id="FoodBoxData" ng-show="formData.EVENT_TYPE==1">
                    <div class="col-md-2">
                        Foodbox Amount
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.Customer.NAME" format-numeric>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


