
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-left:100px;">
    <div style="min-height: 450px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 w3-border w3-round w3-border-grey" style="width:320px; margin-top: 20px; min-height:250px">
                    <h3 class="col-sm-12 hdBar">Login to JARJU</h3>
                    <form id="formLogin" class="form-signin" method="post" action="@Url.Action("Login", "System")">
                        <div style="padding: 10px 0 20px 0">
                            <div>Login name</div>
                            <div><input type="text" id="txtusrname" name="usrname" class="form-control" style="width:300px" placeholder="User name" required="" autofocus=""></div>
                            <div>Password</div>
                            <div><input type="password" id="txtPassword" name="password" class="form-control" style="width:300px" placeholder="Password" required=""></div>
                            <div style="text-align:right;font-size:9pt;padding:4px;width:280px"><a href="@Url.Action("ForgotPW", "System")">Forgot password?</a></div>

                            <div>
                                <span style="font-size:9pt;color:red">@ViewBag.MessageNoti</span>
                            </div>
                            <button class="btn btn-block w3-border w3-round-small" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>