
@{
    ViewBag.Title = "เพิ่มผู้เข้าใช้งานระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" ng-app="FoodTruck_Module" ng-controller="UserProfileController" ng-cloak>
    <div id="EditMaster" class="col-sm-12 w3-white  w3-border w3-round w3-border-grey " style="height: 100%; font-size: 10pt">
        <div class="row hdBar">
            <div class="col-sm-7"><h4>Register</h4></div>
            <div class="col-sm-5" style="margin-top:6px;text-align:right;">
                <button type="button" class="btn btn-primary" ng-click="submituser()">
                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                </button>
            </div>
        </div>
        <div id="EditItem" class="row">
            <div id="CustomerInfo" class="col-sm-5">
                <div class="row custom-row" ng-show="formData.User.USER_ID != null && formData.User.USER_ID != 0">
                    <div class="col-md-4">
                        ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.USER_ID" ng-disabled="true">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.NAME">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Surname:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.SURNAME">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Citizen ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.CITIZEN_ID" format-numeric>
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Email:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.EMAIL">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Tel:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.TEL">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        User name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.USERNAME">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Password:
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="foodmenuname" ng-model="Password">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Confirm password:
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="foodmenuname" ng-model="ConfirmPassword">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Role:
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="formData.User.ROLE_ID" convert-to-number style="width:75%" ng-disabled="formData.User.USER_ID != 0">
                            <option value="1">
                                Organizer
                            </option>
                            <option value="2">
                                Food Truck
                            </option>
                            <option value="3">
                                Customer
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="CustomerInfo" class="col-sm-5" ng-hide="formData.User.ROLE_ID == 3">
                <div class="row custom-row">
                    <div class="col-md-4">
                        Company Name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.COMPANY_NAME">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Company ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="foodmenuname" ng-model="formData.User.COMPANY_ID">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-md-4">
                        Address:
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" placeholder="Company Address" ng-model="formData.User.ADDRESS"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
