

@{
    ViewBag.Title = "หน้าหลักของระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" style="width:100%;">
    <div class="container" style="width:100%;">

        <div class="col-sm-3" style="background-color:#13d34a;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#ebebeb;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#d0d0d0;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#cccccc;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#bdbdbd;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#999999;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#666666;height:60px;"></div>
        <div class="col-sm-3" style="background-color:#4c4c4c;height:60px;"></div>

        <div style="height:230px;width:100%;"></div>
    </div>
</div>
